<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
    <h:outputLabel value="Hello, Add item"/>
        <h:form>
            <h:outputLabel value="Nazwa Produktu " for="name"/>
            <h:inputText id="name" value="#{addItem.item.name}"/>
            <br/>

            <h:outputLabel value="Upload zdjęcia " for="path"/>
            <h:inputText id="path" value="#{addItem.item.path}"/>
            <br/>

            <h:outputLabel value="Wybór magazynu " for="warehouse" />
            <h:selectOneMenu id="warehouse" value="#{addItem.item.warehouse}" converter="warehouseConveter" >
                <f:selectItems value="#{addItem.warehouse}" />
            </h:selectOneMenu><br/>

            <h:outputLabel value="Wybór departamentu " for="department" />
            <h:selectOneMenu id="department" value="#{addItem.item.department}" converter="departmentConveter" >
                <f:selectItems value="#{addItem.department}" />
            </h:selectOneMenu><br/>

            <h:outputLabel value="Wybór kategorii " for="category" />
            <h:selectOneMenu id="category" value="#{addItem.item.category}" converter="categoryConverter" >
                <f:selectItems value="#{addItem.category}" />
            </h:selectOneMenu><br/>

            <h3>Wybór taga</h3>
            <h:selectManyCheckbox value = "#{addItem.item.tags}" converter="tagConverter">
                <f:selectItems value="#{addItem.tag}"/>
            </h:selectManyCheckbox>

            <br/>
            <h:commandButton  actionListener="#{addItem.saveItem}" value="Save"/>
        </h:form>
    <h:form>
        <h:button outcome="items_list" value="Back">
        </h:button>

    </h:form>
    </ui:define>
</ui:composition>
