<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Hello, world"/>

        <h:dataTable var = "items" value="#{itemsList.items}" styleClass="daneOsobowe"
                     rowClasses="dane">
            <h:column>
                <f:facet name = "header">Item
                    <h:form>
                        <h:commandButton value="desc" actionListener="#{itemsList.sortItemsName(true)}"/>
                        <h:commandButton value="asc" actionListener="#{itemsList.sortItemsName(false)}"/>
                    </h:form></f:facet>
                #{items.name}
            </h:column>

            <h:column >
                <f:facet name = "header">Path</f:facet>
                #{items.path}
            </h:column>
            <h:column >
                <f:facet name = "header">Warehouse<h:form>
                    <h:commandButton value="desc" actionListener="#{itemsList.sortItems(true,'warehouse')}"/>
                    <h:commandButton value="asc" actionListener="#{itemsList.sortItems(false,'warehouse')}"/>
                </h:form></f:facet>
                #{items.warehouse.name}
            </h:column>

            <h:column >
                <f:facet name = "header">Department
                    <h:form>
                        <h:commandButton value="desc" actionListener="#{itemsList.sortItems(true,'department')}"/>
                        <h:commandButton value="asc" actionListener="#{itemsList.sortItems(false,'department')}"/>
                    </h:form>
                </f:facet>
                #{items.department.name}
            </h:column>

            <h:column >
                <f:facet name = "header">Category <h:form>
                    <h:commandButton value="desc" actionListener="#{itemsList.sortItems(true,'category')}"/>
                    <h:commandButton value="asc" actionListener="#{itemsList.sortItems(false,'category')}"/>
                </h:form></f:facet>
                #{items.category.name}
            </h:column>

            <h:column >
                <f:facet name = "header">Tag</f:facet>
                <h:dataTable var = "dupa" value="#{items.tags}">
                    <h:column>
                        #{dupa.name}
                    </h:column>
                </h:dataTable>
            </h:column>

            <h:column >
                <f:facet name = "header">Date</f:facet>
                        #{items.date}
            </h:column>

            <h:column>
                <h:form>
                    <h:commandButton value="delete" actionListener="#{itemsList.delete(items)}" />
                </h:form>
            </h:column>
        </h:dataTable>

        <h:form>
            <h:button outcome="add_item" value="Add">
            </h:button>
        </h:form>

        <h:button value="Je##ć to" onclick="window.open('https://www.youtube.com/watch?v=QwadONPoHLo')" />

    </ui:define>
</ui:composition>
