<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:b="http://bootsfaces.net/ui"
        template="/template.xhtml">
    <ui:define name="content">

        <b:container>
            <h:form>
                <b:dataTable value="#{itemsList.items}"
                             var="items"
                             excel="true"
                             csv="true"
                             pdf="true"
                             copy="true"
                             print="true">

                    <b:dataTableColumn  value="#{items.name}" label="nazwa" />
                    <b:dataTableColumn value="#{items.path}" label="zdjęcie"/>
                    <b:dataTableColumn value="#{items.department.name}" label="dział"/>
                    <b:dataTableColumn value="#{items.category.name}"  order="asc" label="kategora"/>
                    <b:dataTableColumn value="#{items.warehouse.name}" label="magazyn"/>
                    <b:dataTableColumn value="#{items.tags}" label="tagi"/>
                    <b:dataTableColumn value="#{items.date}" label="data"/>


                    <b:dataTableColumn >
                         <b:dataTable value="#{items.tags}" var="tag"  paginated="false" rowHighlight="false" selectionInfo="false" searching="false" ajax="false" border="false" >
                             <b:dataTableColumn value="#{tag.name}" orderable="false" dataType="false" customOptions="false" id="false" headerStyleClass="false" headerStyle="false" labelStyleClass="false" />
                        </b:dataTable>
                    </b:dataTableColumn>

                </b:dataTable>
            </h:form>

        </b:container>
    </ui:define>
</ui:composition>
