<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:b="http://bootsfaces.net/ui"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">

        <form method="post" action="j_security_check">
            <h:panelGrid columns="2">
                <h:outputLabel for="j_username" value="Username"/>
                <input type="text" id="j_username" name="j_username"/>
                <h:outputLabel for="j_password" value="Password"/>
                <input type="password" id="j_password" name="j_password"/>
                <input type="submit" name="j_security_check" value="Login"/>
            </h:panelGrid>
            <br/>
        </form>
    </ui:define>
</ui:composition>
