<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Hello, Add Category"/>
        <h:form>
            <h:outputLabel value="Name of Category " for="name"/>
            <h:inputText id="name" value="#{addCategory.category.name}"/>
            <br/>
            <br/>
            <h:commandButton  actionListener="#{addCategory.saveCategory}" ajax="false"
                              action="categories_list.xhmtl?faces-redirect=true" value="Save"/>

        </h:form>
        <h:form>
            <h:button outcome="categories_list" value="Back">
            </h:button>
        </h:form>
    </ui:define>
</ui:composition>