<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
    <h:outputLabel value="Hello, world"/>

    <h:dataTable var ="departments" value="#{departmentsList.departments}">
        <h:column>
            <f:facet name = "header">Działy</f:facet>
            #{departments.name}
        </h:column>
        <h:column>
            <h:form>
                <h:commandButton value="delete" actionListener="#{departmentsList.delete(departments)}" />
            </h:form>
        </h:column>
    </h:dataTable>

    <h:form>
        <h:button outcome="add_department" value="Add">
        </h:button>

    </h:form>



</ui:define>
</ui:composition>